@tailwind base;
@tailwind components;
@tailwind utilities;
 
.Black-overlay{
    background-color: rgba(0, 0, 0, 0.7);
}
Add this to your CSS file
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-start {
  scroll-snap-align: start;
}
